

{% extends "base.html" %}

{% block title %}Welcome to iNFiNiTYFiSH{% endblock %}

{% block content %}

  <div class="container text-center">
          <img src="/static/img/eric-mabo-pic.jpg" class="img-fluid text-center" width="190" height="286" alt="Responsive image">
  </div>

  <div class="jumbotron">
      <div class="container text-center">
          <h1 class="display-3">Hey there <strong> {{name}} </strong>, Welcome to <strong> iNFiNiTYFiSH. </strong> </h1>
          <p>Please add your name to the end of the url to see your personal greeting here .</p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more (Coming Soon)&raquo;</a></p>

      </div>
  </div>

  <h1></h1>


{% endblock %}


